<section id="projects" class="py-20">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-4xl font-bold mb-10 text-indigo-900">Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

      <!-- TravelEasePro Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105">
        <img src="assets/images/travel.PNG" alt="TravelEasePro" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-indigo-700 to-purple-500 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">TravelEasePro</h3>
          <p class="text-gray-100 mb-4">A user-friendly web app built to streamline travel bookings, ensuring an efficient experience for users With all process of tour to make process more easy.</p>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm">Laravel</span>
            <span class="bg-yellow-500 text-white px-2 py-1 rounded-full text-sm">JavaScript</span>
            <span class="bg-green-500 text-white px-2 py-1 rounded-full text-sm">Bootstrap</span>
          </div>
          <a href="https://traveleasepro.com/login" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>

      <!-- PayHub Project -->

      <!-- World Admission Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105">
        <img src="assets/images/world.PNG" alt="World Admission" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-green-500 to-teal-500 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">World Admission</h3>
          <p class="text-gray-100 mb-4">A global platform empowering students with study opportunities, exam reservations, course enrollments, webinar access, and resources for studying abroad.</p>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm">Laravel</span>
            <span class="bg-yellow-500 text-white px-2 py-1 rounded-full text-sm">Jquery</span>
            <span class="bg-purple-600 text-white px-2 py-1 rounded-full text-sm">MySQL</span>
          </div>
          <a href="https://dev.worldadmission.org/" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>

      <!-- HajjManager Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105">
        <img src="assets/images/erp.PNG" alt="Memphis"class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-yellow-500 to-orange-600 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">Memphis Erp</h3>
          <p class="text-gray-100 mb-4">An all-in-one ERP platform for managing every aspect of a tourism company’s operations, including accounting, sales, marketing, fleet management</p>
          <br>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-green-600 text-white px-2 py-1 rounded-full text-sm">Cake php</span>
            <span class="bg-blue-600 text-white px-2 py-1 rounded-full text-sm">MySql</span>
          </div>
          <a href="https://messaging.memphistours.com" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>

      <!-- EduSphere Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105">
        <img src="assets/images/acedemia.PNG" alt="EduSphere" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-cyan-600 to-blue-600 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">Acedemia Web</h3>
          <p class="text-gray-100 mb-4">Academia is a website for mechanical company that deals with mechanics, oils, etc. It handles clients inquiries and other related services.</p>
          <br>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-purple-500 text-white px-2 py-1 rounded-full text-sm">laravel</span>
            <span class="bg-yellow-600 text-white px-2 py-1 rounded-full text-sm">DTO</span>
            <span class="bg-purple-600 text-white px-2 py-1 rounded-full text-sm">MySQL</span>
          </div>
          <a href="https://academiagroup.net" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105">
        <img src="assets/images/payhub.PNG" alt="PayHub" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-pink-500 to-purple-600 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">PayHub</h3>
          <p class="text-gray-100 mb-4">Seamlessly integrated PayPal payment solutions to ensure smooth, secure transactions and enhanced customer satisfaction.</p>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-indigo-600 text-white px-2 py-1 rounded-full text-sm">Laravel</span>
            <span class="bg-red-500 text-white px-2 py-1 rounded-full text-sm">PayPal API</span>
            <span class="bg-purple-600 text-white px-2 py-1 rounded-full text-sm">RESTFUL API</span>

          </div>
          <a href="" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>

      <!-- MedConnect Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105">
        <img src="assets/images/lappika.PNG" alt="MedConnect" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-red-500 to-pink-500 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">Lappaika Website</h3>
          <p class="text-gray-100 mb-4">Lappaika is a mobile app and a website that helps muslims do their haj and umrah, also has other services like getting visa, barcodes, make a custom package for clients' needs and any related services.</p>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-red-700 text-white px-2 py-1 rounded-full text-sm">laravel</span>
            <span class="bg-teal-400 text-white px-2 py-1 rounded-full text-sm">Firebase</span>
            <span class="bg-red-700 text-white px-2 py-1 rounded-full text-sm">RESTFUL Api</span>

          </div>
          <a href="https://lappaika.com/" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>

   <!-- E-Commerce Project -->
<div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105">
  <img src="assets/images/cart.PNG" alt="InstaPhoto" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
  <div class="bg-gradient-to-tr from-purple-600 to-pink-600 p-6 rounded-b-xl">
    <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">E-commerce</h3>
    <p class="text-gray-100 mb-4">An innovative e-commerce website designed for seamless online shopping, offering a wide range of products with easy navigation and secure transactions.</p>
    <br><br>
    <br>

    <div class="flex space-x-3 mb-4 justify-center">
      <span class="bg-indigo-600 text-white px-2 py-1 rounded-full text-sm">Angular</span>
      <span class="bg-pink-400 text-white px-2 py-1 rounded-full text-sm">Sass</span>
      <span class="bg-indigo-600 text-white px-2 py-1 rounded-full text-sm">tailwind</span>

    </div>
    <a href="https://github.com/AhmedHassan199/E-commerce" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Github</a>
  </div>
</div>



      <!-- BookWorm Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105">
        <!-- <img src="assets/images/bookworm.PNG" alt="BookWorm" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110"> -->
        <div class="bg-gradient-to-tr from-blue-800 to-purple-900 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">Task Management System</h3>
          <p class="text-gray-100 mb-4">This Laravel RESTful API, named "task_management_system," provides a comprehensive solution for managing tasks efficiently. It includes robust user authentication, allowing for secure login and registration processes. Users can create, update, and delete tasks while categorizing them for better organization. The API also supports features like task assignment, deadline management, and progress tracking, making it an ideal tool for teams to collaborate and enhance productivity</p>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-gray-600 text-white px-2 py-1 rounded-full text-sm">laravel</span>
            <span class="bg-green-600 text-white px-2 py-1 rounded-full text-sm">postman</span>
            <span class="bg-red-700 text-white px-2 py-1 rounded-full text-sm">RESTFUL Api</span>

          </div>
          <a href="https://github.com/AhmedHassan199/task_management_system" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Github</a>
        </div>
      </div>

      <!-- ShopEase Project -->
      <!-- <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105">
        <img src="assets/images/shopease.PNG" alt="ShopEase" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-orange-400 to-red-500 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">ShopEase</h3>
          <p class="text-gray-100 mb-4">E-commerce platform with features like product comparisons, wish lists, and secure payment gateways.</p>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-yellow-600 text-white px-2 py-1 rounded-full text-sm">Magento</span>
            <span class="bg-blue-400 text-white px-2 py-1 rounded-full text-sm">MySQL</span>
          </div>
          <a href="https://shopease.com" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div> -->

    </div>
  </div>
</section>
