<section id="projects" class="py-20">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-4xl font-bold mb-10 text-white">Projects</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">

      <!-- TravelEasePro Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105 mx-auto max-w-xs">
        <img src="assets/images/travel.PNG" alt="TravelEasePro" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-indigo-700 to-purple-500 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">TravelEasePro</h3>
          <p class="text-gray-100 mb-4">A user-friendly web app built to streamline travel bookings, ensuring an efficient experience for users With all process of tour to make process more easy.</p>
          <br>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm">Laravel</span>
            <span class="bg-yellow-500 text-white px-2 py-1 rounded-full text-sm">JavaScript</span>
            <span class="bg-green-500 text-white px-2 py-1 rounded-full text-sm">Bootstrap</span>
          </div>
          <a href="https://traveleasepro.com/login" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>

      <!-- World Admission Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105 mx-auto max-w-xs">
        <img src="assets/images/world.PNG" alt="World Admission" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-indigo-700 to-purple-500 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">World Admission</h3>
          <span class="bg-red-500 text-white px-2 py-1 rounded-full text-sm">Under Development</span>

          <p class="text-gray-100 mb-4">A global platform empowering students with study opportunities, exam reservations, course enrollments, webinar access, and resources for studying abroad.</p>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm">Laravel</span>
            <span class="bg-yellow-500 text-white px-2 py-1 rounded-full text-sm">Jquery</span>
            <span class="bg-purple-600 text-white px-2 py-1 rounded-full text-sm">MySQL</span>
          </div>
          <a href="https://dev.worldadmission.org/" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>

      <!-- Memphis ERP Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105 mx-auto max-w-xs">
        <img src="assets/images/erp.PNG" alt="Memphis ERP" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-indigo-700 to-purple-500 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">Memphis Erp</h3>
          <p class="text-gray-100 mb-4">An all-in-one ERP platform for managing every aspect of a tourism company’s operations, including accounting, sales, marketing, fleet management.</p>
          <br>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-green-600 text-white px-2 py-1 rounded-full text-sm">Cake PHP</span>
            <span class="bg-blue-600 text-white px-2 py-1 rounded-full text-sm">MySQL</span>
          </div>
          <a href="https://messaging.memphistours.com" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>

      <!-- Academia Web Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105 mx-auto max-w-xs">
        <img src="assets/images/acedemia.PNG" alt="EduSphere" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-indigo-700 to-purple-500 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">Acedemia Web</h3>
          <p class="text-gray-100 mb-4">Academia is a website for mechanical company that deals with mechanics, oils, etc. It handles clients inquiries and other related services and can manage there website by admin panel by do there crud operation with creative design .</p>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-purple-500 text-white px-2 py-1 rounded-full text-sm">Laravel</span>
            <span class="bg-yellow-600 text-white px-2 py-1 rounded-full text-sm">DTO</span>
            <span class="bg-purple-600 text-white px-2 py-1 rounded-full text-sm">MySQL</span>
          </div>
          <a href="https://academiagroup.net" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>

      <!-- PayHub Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105 mx-auto max-w-xs">
        <img src="assets/images/payhub.PNG" alt="PayHub" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-indigo-700 to-purple-500 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">PayHub</h3>
          <p class="text-gray-100 mb-4">Seamlessly integrated PayPal payment solutions to ensure smooth and secure transactions, providing customers with a hassle-free payment experience. and make manger to can see and manage all transactions to his company </p>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-indigo-600 text-white px-2 py-1 rounded-full text-sm">Laravel</span>
            <span class="bg-red-500 text-white px-2 py-1 rounded-full text-sm">PayPal API</span>
            <span class="bg-purple-600 text-white px-2 py-1 rounded-full text-sm">RESTFUL API</span>
          </div>
          <a href="" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>

      <!-- Lappaika Project -->
      <div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105 mx-auto max-w-xs">
        <img src="assets/images/lappika.PNG" alt="Lappaika Website" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
        <div class="bg-gradient-to-tr from-indigo-700 to-purple-500 p-6 rounded-b-xl">
          <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">Lappaika Website</h3>
          <p class="text-gray-100 mb-4">Lappaika is a mobile app and a website that helps Muslims do their Hajj and Umrah, also has other services like getting visa, barcodes, and making custom packages for clients' needs and can select any package they want.</p>
          <div class="flex space-x-3 mb-4 justify-center">
            <span class="bg-red-700 text-white px-2 py-1 rounded-full text-sm">Laravel</span>
            <span class="bg-teal-400 text-white px-2 py-1 rounded-full text-sm">Firebase</span>
            <span class="bg-red-700 text-white px-2 py-1 rounded-full text-sm">RESTFUL API</span>
          </div>
          <a href="https://lappaika.com/" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Website</a>
        </div>
      </div>
<!-- E-Commerce Project -->
<div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105 mx-auto max-w-xs">
  <img src="assets/images/cart.PNG" alt="E-Commerce" class="w-full h-40 object-cover rounded-t-xl transition-transform duration-300 hover:scale-110">
  <div class="bg-gradient-to-tr from-indigo-700 to-purple-500 p-6 rounded-b-xl">
    <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">E-commerce</h3>
    <p class="text-gray-100 mb-4">An innovative e-commerce website designed for seamless online shopping, offering a wide range of products with easy navigation and secure transactions.</p>
    <div class="flex space-x-3 mb-4 justify-center">
      <span class="bg-indigo-600 text-white px-2 py-1 rounded-full text-sm">Angular</span>
      <span class="bg-pink-400 text-white px-2 py-1 rounded-full text-sm">Sass</span>
      <span class="bg-indigo-600 text-white px-2 py-1 rounded-full text-sm">Tailwind</span>
    </div>
    <a href="https://github.com/AhmedHassan199/E-commerce" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Github</a>
  </div>
</div>

<!-- Task Management System Project -->
<div class="relative overflow-hidden rounded-xl shadow-lg transition-transform duration-300 hover:scale-105 mx-auto max-w-xs">
  <div class="bg-gradient-to-tr from-indigo-700 to-purple-500 p-6 rounded-b-xl">
    <h3 class="text-white text-2xl font-bold mb-4 uppercase tracking-widest">Task Management System</h3>
    <p class="text-gray-100 mb-4">This Laravel RESTful API, named "task_management_system," provides a comprehensive solution for managing tasks efficiently. It includes robust user authentication, allowing for secure login and registration processes. Users can create, update, and delete tasks while categorizing them for better organization.</p>
    <div class="flex space-x-3 mb-4 justify-center">
      <span class="bg-gray-600 text-white px-2 py-1 rounded-full text-sm">Laravel</span>
      <span class="bg-green-600 text-white px-2 py-1 rounded-full text-sm">Postman</span>
      <span class="bg-red-700 text-white px-2 py-1 rounded-full text-sm">RESTful API</span>
    </div>
    <a href="https://github.com/AhmedHassan199/task_management_system" target="_blank" class="bg-yellow-400 text-indigo-900 py-2 px-5 rounded-full shadow-md hover:bg-yellow-500 transition-transform hover:scale-105">Visit Github</a>
  </div>
</div>

    </div>
  </div>
</section>
