<nav class="bg-indigo-900 fixed w-full top-0 z-50 shadow-lg transition duration-300 ease-in-out">
  <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
    <h1 class="text-white text-3xl md:text-4xl font-bold tracking-wide transition-transform duration-300 transform hover:scale-110">Ahmed Mohamed Hassan</h1>
    <div class="md:hidden flex items-center">
      <button (click)="toggleNavbar()" class="text-gray-300 focus:outline-none">
        <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
    <ul class="hidden md:flex space-x-8 text-gray-300">
      <li><a routerLink="#hero" routerLinkActive="active" class="link relative group hover:text-white transition duration-300" (click)="scrollTo('hero')">Home</a></li>
      <li><a routerLink="#about" routerLinkActive="active" class="link relative group hover:text-white transition duration-300" (click)="scrollTo('about')">About</a></li>
      <li><a routerLink="#projects" routerLinkActive="active" class="link relative group hover:text-white transition duration-300" (click)="scrollTo('projects')">Projects</a></li>
      <li><a routerLink="#skills" routerLinkActive="active" class="link relative group hover:text-white transition duration-300" (click)="scrollTo('skills')">Skills</a></li>
      <li><a routerLink="#contact" routerLinkActive="active" class="link relative group hover:text-white transition duration-300" (click)="scrollTo('contact')">Contact</a></li>
    </ul>
  </div>
  <div [ngClass]="{'hidden': !isMobileMenuOpen}" class="md:hidden bg-indigo-800">
    <ul class="flex flex-col items-center text-gray-300 space-y-4 py-4">
      <li><a routerLink="#hero" routerLinkActive="active" class="link hover:text-white transition duration-300" (click)="scrollTo('hero'); closeMenu()">Home</a></li>
      <li><a routerLink="#about" routerLinkActive="active" class="link hover:text-white transition duration-300" (click)="scrollTo('about'); closeMenu()">About</a></li>
      <li><a routerLink="#projects" routerLinkActive="active" class="link hover:text-white transition duration-300" (click)="scrollTo('projects'); closeMenu()">Projects</a></li>
      <li><a routerLink="#skills" routerLinkActive="active" class="link hover:text-white transition duration-300" (click)="scrollTo('skills'); closeMenu()">Skills</a></li>
      <li><a routerLink="#contact" routerLinkActive="active" class="link hover:text-white transition duration-300" (click)="scrollTo('contact'); closeMenu()">Contact</a></li>
    </ul>
  </div>
</nav>
