<section id="hero" class="h-screen flex items-center justify-center text-center text-white relative overflow-hidden ">
  <!-- Background overlay with subtle animation effect -->
  <div class="absolute inset-0  to-pink-600 opacity-80 animate-background-slide"></div>

  <!-- Animated floating shapes -->
  <div class="absolute inset-0 flex justify-center items-center space-x-10">
    <div class="w-24 h-24 bg-yellow-400 rounded-full opacity-50 animate-floating"></div>
    <div class="w-32 h-32 bg-pink-400 rounded-full opacity-50 animate-floating animation-delay-1"></div>
    <div class="w-20 h-20 bg-blue-400 rounded-full opacity-50 animate-floating animation-delay-2"></div>
  </div>

  <!-- Main content area with animations -->
  <div class="space-y-4 relative z-10 text-white">
    <h1 class="text-3xl md:text-5xl font-extrabold transition transform duration-500 hover:scale-110 animate__animated animate__fadeInDown">
      Ahmed Mohamed Hassan
    </h1>
    <p class="text-lg md:text-2xl font-light transition duration-500 transform hover:translate-y-1 animate__animated animate__fadeInUp animate__delay-1s">
      <span class="text-white font-bold text-3xl md:text-4xl animate__animated animate__bounceIn shadow-lg">Full Stack Developer</span>
  </p>


    <!-- Animated image with subtle floating effect -->
    <img src="assets/images/vs.PNG" alt="My Image" class="mx-auto rounded-full w-72 h-72 shadow-lg transition-transform duration-300 hover:scale-110 animate__animated animate__pulse animate-floating">
      <br><br>
      <div class="flex justify-center space-x-4 my-6"> <!-- Add space-x-4 for horizontal spacing -->
        <!-- Download CV button with a different color -->
        <a href="assets\doc\Ahmed-mohamed-mohamed-mahmoud-developer.pdf" download class="bg-green-400 text-white py-3 px-6 rounded-full shadow-md hover:bg-green-500 transition transform hover:scale-105 animate__animated animate__fadeInUp animate__delay-2s">
            Download My CV
        </a>

        <!-- Explore My Work button with a different color -->
        <a href="#projects" class="bg-blue-400 text-white py-3 px-6 rounded-full shadow-md hover:bg-blue-500 transition transform hover:scale-105 animate__animated animate__fadeInUp animate__delay-2s">
            Explore My Work
        </a>
    </div>
  </div>
</section>

